# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Local configuration & Secrets
local.properties
*.keystore
*.jks
key.properties

# Gradle
.gradle/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/

### Kotlin ###
.kotlin

### VS Code ###
.vscode/

### Mac OS / OS artifacts ###
.DS_Store
Thumbs.db
